.container {
  max-width: 700px;
}
.input-money-name {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 35px;
}
.input-money-value {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 35px;
  margin: auto;
}
